<!-- Registration Page -->

<!-- Header Options -->
<ion-header>
  <ion-navbar color="secondary" hideBackButton>
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-right>الرئيسية</ion-title>
  </ion-navbar>
</ion-header>
<!-- Content Options -->
<ion-content id="component-v1" class="animated fadein">

  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
  </div>

  <!-- Profile Top body of user photo, name and title
  <ion-slides id="slider" pager="true" zoom="true" loop autoplay="5000" style="direction:ltr"  no-padding>
    <ion-slide>
        <img src="assets/img/1s.jpeg" style="width:100%; background-size:cover;">
    </ion-slide>
    <ion-slide class="profile-part2">
        <img src="assets/img/2s.jpeg" style="width:100%; background-size:cover;">
    </ion-slide>
    <ion-slide class="profile-part3">
        <img src="assets/img/3s.jpg" style="width:100%; background-size:cover;">
    </ion-slide>
    <ion-slide class="profile-part3">
        <img src="assets/img/4s.jpeg" style="width:100%; background-size:cover;">
    </ion-slide>
  </ion-slides> -->
  <!--  <div text-center class="logo">
 <img src="assets/img/Elnilein Logo.png" width=130px; style="padding:7px;">
 </div> -->

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-6 class="animated fadeIn col2" (click)="gotoTargetComponent('AboutUs')">
        <ion-icon name="md-star"></ion-icon>
        <p ion-text>من نحن</p>
      </ion-col>
      <ion-col col-6 class="animated fadeIn col1" (click)="gotoTargetComponent('Category')">
        <ion-icon name="md-checkbox"></ion-icon>
        <p ion-text>منتجاتنا</p>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-6 class="animated fadeIn col2" (click)="gotoTargetComponent('claims')">
        <ion-icon name="md-paper"></ion-icon>
        <p ion-text>المطالبات</p>
      </ion-col>
      <ion-col col-6 class="animated fadeIn col1" (click)="gotoTargetComponent('Complaints')">
        <ion-icon name="information-circle"></ion-icon>
        <p ion-text>الشكاوي و المقترحات</p>
      </ion-col>



    </ion-row>
    <ion-row>
      <ion-col col-6 class="animated fadeIn col1" (click)="gotoTargetComponent('ContactUs')">
        <ion-icon name="paper-plane"></ion-icon>
        <p ion-text>تواصل معنا</p>
      </ion-col>
      <ion-col col-6 class="animated fadeIn col2" (click)="gotoTargetComponent('Location')">
        <ion-icon name="md-map"></ion-icon>
        <p ion-text>فروعنا</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="animated fadeIn col2" (click)="gotoTargetComponent('login')">
        <ion-icon name="ios-car"></ion-icon>
        <p ion-text>مطالبات السيارات</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Fabs - for share product-->
  <ion-fab right bottom>
    <button ion-fab color="secondary">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="logo-vimeo"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
