<!-- Aboutus h3age -->

<!-- Header oh3tions-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>الطلبات</ion-title>
    <ion-buttons end>
        <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
          <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Content Oh3tions -->
<ion-content id="aboutus-v1">
  <ion-list>
      <ion-item>
          <ion-avatar item-end>
            <button ion-button (click)="gotoTargetComponent('Location')" full style="background-color: rgb(6, 128, 67);">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </button>
            <br>
            <button ion-button full color="danger">تم التوصيل</button>
          </ion-avatar>
          <h1 style=text-align:right;>مطعم راضي هلال</h1>
          <ion-row>
            <ion-col col-6>
              <h3>النوع</h3>
            </ion-col>
            <ion-col col-6>
              <h3>الكمية</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <h3>800 جرام</h3>
            </ion-col>
            <ion-col col-6>
              <h3>10</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <h3>900 جرام</h3>
            </ion-col>
            <ion-col col-6>
              <h3>20</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <h3>1000 جرام</h3>
            </ion-col>
            <ion-col col-6>
              <h3>10</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <h3>1100 جرام</h3>
            </ion-col>
            <ion-col col-6>
              <h3>3</h3>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col col-6>
              <h2>
                <strong>
                  الإجمالي :
                </strong>
              </h2>
            </ion-col>
            <ion-col col-6>
              <h2>
                <strong>
                  4800 ريال
                </strong>
              </h2>
            </ion-col>
          </ion-row>
        </ion-item>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button (click)="gotoTargetComponent('Location')" full style="background-color: rgb(6, 128, 67);">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </button>
        <br>
        <button ion-button full color="danger">تم التوصيل</button>
      </ion-avatar>
      <h1 style=text-align:right;>فندق هلتون</h1>
      <ion-row>
        <ion-col col-6>
          <h3>النوع</h3>
        </ion-col>
        <ion-col col-6>
          <h3>الكمية</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h3>800 جرام</h3>
        </ion-col>
        <ion-col col-6>
          <h3>10</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h3>900 جرام</h3>
        </ion-col>
        <ion-col col-6>
          <h3>21</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h3>1000 جرام</h3>
        </ion-col>
        <ion-col col-6>
          <h3>10</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h3>1100 جرام</h3>
        </ion-col>
        <ion-col col-6>
          <h3>31</h3>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col col-6>
          <h2>
            <strong>
              الإجمالي :
            </strong>
          </h2>
        </ion-col>
        <ion-col col-6>
          <h2>
            <strong>
           2000 ريال
            </strong>
          </h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
        <ion-avatar item-end>
          <button ion-button (click)="gotoTargetComponent('Location')" full style="background-color: rgb(6, 128, 67);">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </button>
          <br>
          <button ion-button full color="danger">تم التوصيل</button>
        </ion-avatar>
        <h1 style=text-align:right;>الطازج</h1>
        <ion-row>
          <ion-col col-6>
            <h3>النوع</h3>
          </ion-col>
          <ion-col col-6>
            <h3>الكمية</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h3>800 جرام</h3>
          </ion-col>
          <ion-col col-6>
            <h3>10</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h3>900 جرام</h3>
          </ion-col>
          <ion-col col-6>
            <h3>20</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h3>1000 جرام</h3>
          </ion-col>
          <ion-col col-6>
            <h3>3</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h3>1100 جرام</h3>
          </ion-col>
          <ion-col col-6>
            <h3>13</h3>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col col-6>
            <h2>
              <strong>
                الإجمالي :
              </strong>
            </h2>
          </ion-col>
          <ion-col col-6>
            <h2>
              <strong>
                1200 ريال
              </strong>
            </h2>
          </ion-col>
        </ion-row>
      </ion-item>
  </ion-list>
</ion-content>
