// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html[dir="rtl"] {
  .back-button-icon.icon-md.back-button-icon-md.ion-md-arrow-back {
    transform: rotate(180deg);
  }

  .back-button-icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
    transform: rotate(180deg);
    padding: 0 5px;
  }
}
.menu-inner {
  ion-toolbar {

    img {
      padding-top: 4px;
      width: 100px;
    }
  }
  .toolbar-background {
    background-color: transparent !important;
  }
  ion-content {
    background-image: url("../assets/img/SideBg.jpg");
    background-size: cover;
    .item {
      font-size: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.084) !important;
      background-color: transparent !important;
    }
    .item:hover{
      background-color: #0f2b49 !important;
      transition: background-color 1s ease;
    }
  }
}
