<!-- Registration Page -->

<!-- Header Options -->
<ion-header>
</ion-header>
<!-- Content Options -->
<ion-content id="component-v1" class="animated fadein" style="background-color:rgb(255, 251, 193);">

  <div style="text-align:center; padding:50px;" class="animated fadeInRight">
    <img src="assets/img/hail-trans.PNG" />
  </div>



  <ion-row style="text-align:center; padding-top:60px;">
    <ion-col col-6 class="animated fadeInLeft col2">
        <button type="button" (click)="gotoTargetComponent('DriverLogin')" class="btn btn-danger btn-lg btn3d"><span class="glyphicon glyphicon-lock"></span><br>
           دخول موظف</button>
   </ion-col>
    <ion-col col-6 class="animated fadeInLeft col2">
        <button type="button" (click)="gotoTargetComponent('CustomerLogin')" class="btn btn-danger btn-lg btn3d"><span class="glyphicon glyphicon-lock"></span><br>
           دخول زبون</button>
     </ion-col>
  </ion-row>

</ion-content>
