<!--
  Generated template for the OrderConfirmModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>تأكيد إستلام الطلب</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button  color="whatsapp" (click)="ConfirmOrder()">تم توصيل الطلب</button>
  <button ion-button  color="standard" (click)="closeModal()">لم يتم توصيل الطلب</button>
</ion-content>
