<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" hideBackButton>
    <ion-title start>طلباتي</ion-title>
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="component-v2">
  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="design">
        طلباتي
      </ion-segment-button>
      <ion-segment-button value="development">
        تاريخ الطلبات
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- Segment Body -->
  <div [ngSwitch]="segment">

    <!-- Design Portion -->
    <div *ngSwitchCase="'design'">
      <!--    <ion-card-header>
            <ion-icon name="flower"></ion-icon>
            <br> المصداقية
          </ion-card-header>-->
      <ion-card *ngFor="let userPendingOrder of userPendingOrders" let i=userPendingOrder.SNo>

        <ion-card-header style="text-align:right">
          <ion-badge style="background-color:#cc0808; width:80px; font-size:13px;">
            <strong>{{userPendingOrder.Status}}</strong>
          </ion-badge>
        </ion-card-header>

          <table class="animated fadeIn table">
            <tr class="warning">
              <td>موقع الإرسال:</td>
              <td>{{userPendingOrder.DeliveryLocation}}</td>
            </tr>
            <tr class="warning">
              <td>تاريخ التوصيل</td>
              <td>{{userPendingOrder.DeliveryDateTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr class="warning">
              <td>زمن التوصيل</td>
              <td>
                {{userPendingOrder.DeliveryDateTime | date: 'MM:HH'}}
              </td>
            </tr>
          </table>
          <div style="text-align:center">
            <button ion-button full (click)="ShowOrderDetails(userPendingOrder)">تفاصيل الطلب </button>
            <button ion-button full color="whatsapp" (click)="SendConfirmation(userPendingOrder)">تم الإستلام</button>
          </div>
<br><br>
      </ion-card>
    </div>

    <!-- Development Portion -->
    <div *ngSwitchCase="'development'">
      <!--     <ion-card-header>
            <ion-icon name="md-checkmark-circle"></ion-icon>
            <br> الإتقان
          </ion-card-header> -->

      <ion-card *ngFor="let userSentOrder of userSentOrders" let i=userSentOrder.SNo>

        <ion-card-header style="text-align:right">
          <ion-badge style="background-color:#08cc18; width:80px; font-size:13px;">
            <strong>{{userSentOrder.Status}}</strong>
          </ion-badge>
        </ion-card-header>

        <ion-card-content>
          <table class="animated fadeIn table">
            <tr class="warning">
              <td>موقع الإرسال:</td>
              <td>{{userSentOrder.DeliveryLocation}}</td>
            </tr>
            <tr class="warning">
              <td>تاريخ التوصيل</td>
              <td>{{userSentOrder.DeliveryDateTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr class="warning">
              <td>زمن التوصيل</td>
              <td>
                {{userSentOrder.DeliveryDateTime | date: 'MM:HH'}}
              </td>
            </tr>
          </table>
        </ion-card-content>

      </ion-card>

    </div>
  </div>
  <!-- Segment (End) -->


</ion-content>
