#component-v2 {
  table {
    text-align: right;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: right;
    padding: 8px;
    height: 40px;
    font-size: 16px;
}
.header .col {
    background-color:rgb(207, 207, 207);
    height: 45px;
}

.col {
    border: 0px rgb(207, 207, 207);
    height: 45px;
}

.col:last-child {
    border-right: 0px rgb(207, 207, 207);
}

.row:last-child .col {
    border-bottom: 0px rgb(207, 207, 207);
}
}
