<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title start>تفاصيل الطلب</ion-title>
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="component-v3">
  <div *ngFor="let Orde of Order">
    <ion-card-header style="text-align:center">
      <ion-badge style="background-color:#cc0808">
        <strong>{{Orde.Status}}</strong>
      </ion-badge>
    </ion-card-header>
    <ion-card-content>
      <table class="animated fadeIn table">
        <tr class="warning">
          <td>موقع الإرسال:</td>
          <td>{{Orde.DeliveryLocation}}</td>
        </tr>
        <tr class="warning">
          <td>تاريخ التوصيل:</td>
          <td>{{Orde.DeliveryDateTime | date: 'yyyy-MM-dd'}}</td>
        </tr>
        <tr class="warning">
          <td>زمن التوصيل:</td>
          <td>
            {{Orde.DeliveryDateTime | date: 'MM:HH'}}
          </td>
        </tr>
      </table>
    </ion-card-content>
  </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr class="danger">
            <th>
              المنتج
            </th>
            <th>
             الكمية
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let OrderItem of OrderItems">
          <tr class="warning">
            <td>{{OrderItem.Item}}</td>
            <td>
              {{OrderItem.Quantity}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</ion-content>
