<!-- ContactUs Page -->

<!-- Header Options -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content Options -->
<ion-content id="contactus-v1">
  <div class="contact-header">
    <p class="line1">تسجيل زبون</p>
  </div>
  <!-- CONTACT FORM -->
  <hr>
  <div class="contact-form animated fadeIn">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.email" formControlName="email" id="email"
            spellcheck="false" autocapitalize="off" type="text" placeholder="البريد الإلكتروني"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('email')" danger padding-left>خطأ في الإدخال</span>
        <!-- Email -->
        <ion-item>
          <ion-label>
            <ion-icon name="ios-key"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.password" formControlName="password" id="password"
            spellcheck="false" autocapitalize="off" type="password" placeholder="كلمة المرور"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('password')" danger padding-left>خطأ في الإدخال</span>
        <!-- Messages -->
        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button [disabled]="!myForm.valid" (click)="onSubmit('Customer-Portal')" color="secondary" block>تسجيل الدخول</button>
        </div>

      </ion-list>
    </form>
    <br>
    <div class="buttons animated fadeInUp">
      <button ion-button (click)="gotoTargetComponent('New-Account')" color="secondary" block>إنشاء حساب جديد</button>
    </div>
  </div>
</ion-content>
